.tob-img-bar{
width:100%;
height: 100px;
background-color: #1C2D41;
}
a{
    color: 1px solid black;
}

.camera_icon img{
    border-radius: 50%;
    width: 120px;
    border: 1px solid gray;

}
.forms{
    background-color: #FBFBFB;
   

}
.details span{
    font-size: 14px;
}
.camera_icon {
    margin-top: -60px;
}
.g-clr{
    color: gray;
}
.bold{
    font-weight: bold;
}
.camera_icon .btn{
 background-color: #E9630C;
 color:white;
 margin-top: -10px;
}
h5{
font-weight: bold;
}
i{
    color:gray;
}