<div class="row d-flex  flex-row justify-content-center ">

    <div class="col-9 border">
        <a href="">      <span>Back to Home</span></a>
   <div class="row">
       <div class="col-8  bg-white">
           
           <div class="tob-img-bar mt-2"></div>

           <div class="row camera_icon">
             <div class="col-4"></div>
             <div class="col-4 d-flex flex-column  align-items-center justify-content-center">
                <img src="assets\camera_icon.png"  alt="">
                <button class="btn">Add Picture</button>
             </div>
             <div class="col-4 mt-2 d-flex flex-row  align-items-center justify-content-center">
                 <button class="edit-profile " >  <i  class="fa fa-edit mr-2 "></i> <span>Edit Profile</span></button>
                
             </div>
             
           </div>
           <div class="row">
               <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                   <h5 class="mt-1">Abhishek</h5>
                   <span  class="mt-1">Virasat solution , Gurgaun</span>
                   <div  class="mt-2"><i class="fas fa-clock"></i><span class="ml-2">9 years 3 months</span> 
                    <i class="fas fa-map-marker-alt ml-3"></i><span class="ml-2">Noida</span>
                    <div class="">
                        <i class="fa fa-twitter ml-2"></i>
                        <i class="fa fa-facebook ml-2"></i>
                         <i class="fa fa-limkedin ml-2"></i>
                        <i class="fa fa-twitter ml-2"></i>
                    </div>
                </div>
               </div>

            
                   <div class="col-3 details d-flex flex-column align-items-center justify-content-start">
                       <span class="g-clr" >Industry</span>
                       <span>IT</span>
                   </div>
                   <div class="col-3 details d-flex flex-column align-items-center justify-content-start">
                    <span class="g-clr" >Functional Area</span>
                    <span>Technical Architect</span>
                </div>
                <div class="col-3 details d-flex flex-column align-items-center justify-content-start">
                    <span class="g-clr" >Preferred Locations</span>
                    <span>Anywhere</span>
                </div>
                <div class="col-3 details d-flex flex-column align-items-center justify-content-start">
                    <span class="g-clr" >Notice Period</span>
                    <span>1 months                    </span>
                </div>
               
           </div>


           <div class="row p-3 mt-3 mb-2 edit-form">


            <div class="col-12 text-center bold"><span>Basic Information</span></div>
              <div class="col-12 border mt-2 mb-2 pt-2 forms Basic-Information">

                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Current location</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Noida </option>
                      <option>Gurgaun</option>
                      <option>Delhi</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <!-- <div class="form-group">
                    <label for="exampleFormControlSelect2">Preferred Locations (Please select a maximum of 5 locations)</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div> -->

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">About</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                  </div>
              </div>

              <div class="col-12 text-center bold"><span>Professional Information</span></div>

           

              <div class="col-12 border mt-2 mb-2 pt-2 forms Professional-Information">

              

                  <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Experience</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>1 </option>
                              <option>2</option>
                              <option></option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Experience</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>1 </option>
                              <option>2</option>
                              <option></option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Industry</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>It </option>
                      <option></option>
                      <option></option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Functional Area</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="">Functional Area</option>
                        <option value="1">Software Developer</option><option value="2" selected="selected">Technical Architect</option><option value="3">Project Lead / Manager</option><option value="4">Product Manager</option><option value="5">QA &amp; Testing</option><option value="6">Design / Graphics</option><option value="9">Network Administrator</option><option value="8">System Administrator</option><option value="10">Database Administrator (DBA)</option><option value="11">Technical Support</option><option value="12">Technical Writer</option><option value="13">Business Analyst</option><option value="14">Senior Management</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Notice Period</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1 </option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                
               
              </div>


              <div class="col-12 text-center bold"><span>Social Connect</span></div>
              <div class="col-12 Social-Connect border mt-2 mb-2 pt-2 forms">
                <div class="form-group w-100">
                    <label for="exampleInputEmail1">Linkedin URL</label>
                    <input type="url" class="form-control" placeholder="Linkedin URL">
                  </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Twitter URL</label>
                    <input type="url" class="form-control"  placeholder="Linkedin URL">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Facebook URL</label>
                    <input type="url" class="form-control"  placeholder="Linkedin URL">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Tumblr URL</label>
                    <input type="url" class="form-control"  placeholder="Linkedin URL">
                  </div>
                  
              </div>
<div class="col-12">
    <button class="btn"> Save</button>
</div>
           </div>

           <div class="row mt-2">
               <div class="col-12 d-flex flex-row justify-content-between pb-2 border-bottom">
                   <h5 class="">Experience</h5>
                   <h3>+ ADD</h3>
               </div>
               <div class="col-12  d-flex flex-column justify-content-start align-items-start">
                   <i class="i-with-bg fas fa-company"></i>
                   <div class=" d-flex flex-column justify-content-start align-items-start">
                       <h4>Mahindara Tech</h4>
                       <h5>Laravel</h5>
                       <span> 01-08-2006 to Present</span>
                   </div>
                   <div class=" ml-auto d-flex flex-column justify-content-start align-items-start">
                    <i class="i-with-bg fas fa-company"></i>
                   </div>
               </div>
           
           </div>
       </div>
   </div>

    </div>
</div>